**/*.o
**/a.out
**/.DS_Store

/Assignment3/build/
/Assignment3/dist/
/Debugging/build/
/Debugging/dist/
/Assignment4/build/
/Assignment4/dist/
/Midterm/dist/
/Midterm/build/
/Assignment5/build/
/Assignment5/dist/
/Recitation_test/build/
/Recitation_test/dist/